body{
  overflow-x: hidden;
}
.wrap{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.first_content{
  margin: 0 auto;

  width: 60vw;
  
  padding: 1rem;
  border-radius: 1rem;

  background-color: orange;
}
.second_content{
  background-color: purple;
  padding: 0.5rem;

  border-radius: 1rem;
}

.third_content{
  background-color: pink;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* ----------------------------Slide에 관한 css----------------------------*/
.hidden{
  visibility: hidden;
}
.disappear{
  display: none;
}
.slide_btn{
  overflow: hidden;

  transition: height 0.6s ease-in-out;
}
[data-slideheader="true"]{
  cursor: pointer;
}